.container-login {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 153, 153);
    padding: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}