.header {
    background-color: coral;
}
#headercontent {
    /* border: 1px solid black; */
    padding: 20px;
    color: white;

}
#headercontent img {
    /* border: 1px solid black; */
    width: 15%;
    float: left;
    margin-right: 10px;
}
#headercontent h1 {
    /* border: 1px solid black; */
}

footer {
    background-color: coral;
    text-align: center;
    font-family: monospace;
}